In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("raghadalharbi/all-products-available-on-sephora-website")

print("Path to dataset files:", path)

/Users/mac/opt/anaconda3/envs/python-training/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.9), please consider upgrading to the latest version (0.3.10).
Path to dataset files: /Users/mac/.cache/kagglehub/datasets/raghadalharbi/all-products-available-on-sephora-website/versions/1

In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
# 다운로드된 파일 목록 출력
files = os.listdir(path)
print("Downloaded files:", files)

Downloaded files: ['sephora_website_dataset.csv']

In [6]:
files

['sephora_website_dataset.csv']

In [7]:
# CSV 파일 경로
csv_file = os.path.join(path, files[0])  # 실제 파일명을 입력하세요

# CSV 파일 읽기
data = pd.read_csv(csv_file)

# 데이터 출력
display(data.head())

,id,brand,category,name,size,rating,number_of_reviews,love,price,value_price,...,MarketingFlags,MarketingFlags_content,options,details,how_to_use,ingredients,online_only,exclusive,limited_edition,limited_time_offer
0,2218774,Acqua Di Parma,Fragrance,Blu Mediterraneo MINIATURE Set,5 x 0.16oz/5mL,4.0,4,3002,66.0,75.0,...,True,online only,no options,This enchanting set comes in a specially handc...,Suggested Usage:-Fragrance is intensified by t...,Arancia di Capri Eau de Toilette: Alcohol Dena...,1,0,0,0
1,2044816,Acqua Di Parma,Cologne,Colonia,0.7 oz/ 20 mL,4.5,76,2700,66.0,66.0,...,True,online only,- 0.7 oz/ 20 mL Spray - 1.7 oz/ 50 mL Eau d...,An elegant timeless scent filled with a fresh-...,no instructions,unknown,1,0,0,0
2,1417567,Acqua Di Parma,Perfume,Arancia di Capri,5 oz/ 148 mL,4.5,26,2600,180.0,180.0,...,True,online only,- 1oz/30mL Eau de Toilette - 2.5 oz/ 74 mL E...,Fragrance Family: Fresh Scent Type: Fresh Citr...,no instructions,Alcohol Denat.- Water- Fragrance- Limonene- Li...,1,0,0,0
3,1417617,Acqua Di Parma,Perfume,Mirto di Panarea,2.5 oz/ 74 mL,4.5,23,2900,120.0,120.0,...,True,online only,- 1 oz/ 30 mL Eau de Toilette Spray - 2.5 oz/...,Panarea near Sicily is an an island suspended ...,no instructions,unknown,1,0,0,0
4,2218766,Acqua Di Parma,Fragrance,Colonia Miniature Set,5 x 0.16oz/5mL,3.5,2,943,72.0,80.0,...,True,online only,no options,The Colonia Miniature Set comes in an iconic A...,Suggested Usage:-Fragrance is intensified by t...,Colonia: Alcohol Denat.- Water- Fragrance- Lim...,1,0,0,0

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9168 entries, 0 to 9167
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      9168 non-null   int64
 1   brand                   9168 non-null   object
 2   category                9168 non-null   object
 3   name                    9168 non-null   object
 4   size                    9168 non-null   object
 5   rating                  9168 non-null   float64
 6   number_of_reviews       9168 non-null   int64
 7   love                    9168 non-null   int64
 8   price                   9168 non-null   float64
 9   value_price             9168 non-null   float64
 10  URL                     9168 non-null   object
 11  MarketingFlags          9168 non-null   bool
 12  MarketingFlags_content  9168 non-null   object
 13  options                 9168 non-null   object
 14  details                 9168 non-null   object
 15  how_to_use              9168 non-null   object
 16  ingredients             9168 non-null   object
 17  online_only             9168 non-null   int64
 18  exclusive               9168 non-null   int64
 19  limited_edition         9168 non-null   int64
 20  limited_time_offer      9168 non-null   int64
dtypes: bool(1), float64(3), int64(7), object(10)
memory usage: 1.4+ MB

In [15]:
data.describe()

,id,rating,number_of_reviews,love,price,value_price,online_only,exclusive,limited_edition,limited_time_offer
count,9.168000e+03,9168.000000,9168.000000,9.168000e+03,9168.000000,9168.00000,9168.000000,9168.000000,9168.000000,9168.000000
mean,1.962952e+06,3.990020,282.139180,1.627859e+04,50.063237,51.82359,0.234839,0.264725,0.091841,0.000327
std,3.859714e+05,1.007707,890.642028,4.260651e+04,47.164989,49.45902,0.423921,0.441211,0.288817,0.018087
min,5.000000e+01,0.000000,0.000000,0.000000e+00,2.000000,2.00000,0.000000,0.000000,0.000000,0.000000
25%,1.819453e+06,4.000000,10.000000,1.600000e+03,24.000000,25.00000,0.000000,0.000000,0.000000,0.000000
50%,2.072354e+06,4.000000,46.000000,4.800000e+03,35.000000,35.00000,0.000000,0.000000,0.000000,0.000000
75%,2.230591e+06,4.500000,210.000000,1.380000e+04,59.000000,60.00000,0.000000,1.000000,0.000000,0.000000
max,2.359685e+06,5.000000,19000.000000,1.300000e+06,549.000000,549.00000,1.000000,1.000000,1.000000,1.000000

In [17]:
data.isna().sum()

id                        0
brand                     0
category                  0
name                      0
size                      0
rating                    0
number_of_reviews         0
love                      0
price                     0
value_price               0
URL                       0
MarketingFlags            0
MarketingFlags_content    0
options                   0
details                   0
how_to_use                0
ingredients               0
online_only               0
exclusive                 0
limited_edition           0
limited_time_offer        0
dtype: int64

In [19]:
# 각 카테고리별 평균 평점이 높은 순서로 정렬
brand_reviews = data.groupby('brand')['rating'].mean().reset_index(name='average_rating').sort_values(by='average_rating', ascending=False)

# 상위 10개 출력
brand_reviews.head(20)

                      brand  average_rating
180               Montblanc        5.000000
5             Aether Beauty        5.000000
98            Four Sigmatic        5.000000
93             Fable & Mane        5.000000
104                   Golde        4.875000
223       RODIN olio lusso         4.812500
268      The Art of Shaving        4.700000
236           SOBEL SKIN Rx        4.687500
210            Paco Rabanne        4.687500
281               Valentino        4.666667
255         StackedSkincare        4.666667
306                     dae        4.666667
43         Carolina Herrera        4.625000
24       Better Not Younger        4.607143
220                Proactiv        4.590909
245  Shani Darden Skin Care        4.583333
235                  SKYLAR        4.566667
163            Lunar Beauty        4.500000
267           The 7 Virtues        4.500000
240       Saint Jane Beauty        4.500000