In [6]:
# 라이브러리 불러오기
import pandas as pd
import seaborn as sns

In [72]:

df = pd.read_csv('/Users/mac/Documents/GitHub/python-training/notebooks/pandas-data-analysis/part6/data/삼성전자_분기별_매출액.csv')
col1 = df.pop('quarter')
col2 = df.pop('value')
df.insert(0, '분기별', col1)
df.insert(1, '매출액', col2)
df_revenue = df.set_index('분기별')
df_revenue = df.iloc[3:6, :]
type(df_revenue)
df_revenue

       분기별             매출액
3  2022-Q4  70464575000000
4  2022-Q3  76781680000000
5  2022-Q2  77203607000000

In [73]:
data = {'분기별': ['2023-Q3', '2023-Q2', '2023-Q1', '2022-Q4','2022-Q3', '2022-Q2'],
        '영업이익':[2430000000000, 670000000000, 640000000000, 4310000000000, 10850000000000, 141000000000000]}
df_margin = pd.DataFrame(data).set_index(['분기별', '영업이익'])
df_margin = df_margin.loc[['2023-Q3', '2022-Q3'], :]
type(df_margin)
df_margin

Empty DataFrame
Columns: []
Index: [(2023-Q3, 2430000000000), (2022-Q3, 10850000000000)]

In [86]:
# 데이터프레임 join
df_margin_reset = df_margin.reset_index()

# 데이터프레임 합치기
df_revenue_margin = pd.concat([df_revenue.set_index('분기별'), df_margin_reset.set_index('분기별')], axis=1)

# 2022년 데이터만 뽑기
df_2022 = df_revenue_margin.iloc[0:3, :]
df_2022

                  매출액          영업이익
분기별
2022-Q4  7.046458e+13           NaN
2022-Q3  7.678168e+13  1.085000e+13
2022-Q2  7.720361e+13           NaN

In [90]:
# 리스트로 인덱스를 전달할 경우 -> 판다스에서 데이터프레임으로 인식
df_2022_Q3 = df_revenue_margin.loc[['2022-Q3']]
df_2022_Q3

# 단일값만 인덱스로 전달할 경우 -> 판다스에서 시리즈로 인식
df_2022_Q3 = df_revenue_margin.loc['2022-Q3']
df_2022_Q3

                  매출액          영업이익
분기별
2022-Q3  7.678168e+13  1.085000e+13